body{
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    background-color: #89c97b;
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 1.4px black;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
   padding: 10px;
   font-family: 'Caprasimo', cursive;
   font-weight: 100;
   

}
.nav-bar{
    display:grid;
    grid-template-columns: 400px 900px;
}